<h1>These are some of the Projects I've worked on...</h1>
<h3 style="margin-bottom: 10px;">Oh, the places you’ll go!</h3>
<div style="margin-bottom: 20px;">Find best way to get to a destination.</div>
<h3 style="margin-bottom: 10px;">N.recs</h3>
<div style="margin-bottom: 20px;">Get recommendations from your friends on what movies to watch next.</div>
